html,
body {
    background-color: #e2e5e0;
    height: 100%;
    margin: 0;
}

.notes {
    display: flex;
    height: 100%;
}

.notes * {
    font-family: sans-serif;
}

.notes__sidebar {
    border-right: 2px solid #dddddd;
    flex-shrink: 0;
    overflow-y: auto;
    padding: 1em;
    width: 300px;
}

.notes__add {
    background: #63726d;
    border: none;
    border-radius: 7px;
    color: #ffffff;
    cursor: pointer;
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 1em;
    padding: 0.75em 0;
    width: 100%;
}

.notes__add:hover {
    background: #4f5857;
}

.notes__list-item {
    background:#ffffff;
    border-radius: 10px;
    cursor: pointer;
}

.notes__list-item--selected {
    background: #eeeeee;
    border-radius: 7px;
    font-weight: bold;
}

.notes__small-title,
.notes__small-updated {
    padding: 10px;
}

.notes__small-title {
    font-size: 1.2em;
}

.notes__small-body {
    padding: 0 10px;
}

.notes__small-updated {
    color: #aaaaaa;
    font-style: italic;
    text-align: right;
}

.notes__preview {
    display: flex;
    flex-direction: column;
    padding: 2em 3em;
    flex-grow: 1;
}

.notes__title,
.notes__body {
    background-color: #e2e5e0;
    border: none;
    outline: none;
    width: 100%;
}

.notes__title {
    font-size: 3em;
    font-weight: bold;
}

.notes__body {
    flex-grow: 0.5;
    font-size: 1.2em;
    line-height: 1.5;
    margin-top: 2em;
    resize: none;
    background-color:#e2e5e0;
}

.notes__info {
    font-size: 1.3em;
    line-height: 1.5;
    resize: none;
    background-color:#e2e5e0;
}

/*nav bar */
.topnav {
    overflow: hidden;
    background-color: rgb(147, 152, 141);
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: rgb(100, 89, 89);
  }
  
  .topnav a.active {
    background-color: #63726d;
    color: white;
  }