/*nav bar */
.topnav {
    overflow: hidden;
    background-color: rgb(147, 152, 141);
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: rgb(100, 89, 89);
  }
  
  .topnav a.active {
    background-color: #63726d;
    color: white;
  }