{% extends 'core/base.html'%}

{% block title %} Log in {% endblock %}

{% block content %}
    <div class="w-1/2 p-6 my-6 mx-auto bg-gray-100 rounded-xl">
        <h1 class="mb-6 text-3xl">Log in </h1>

        <form method="post" action=".">
            {% csrf_token %}

            {{ form.non_field_errors }}
            <div class="mb-3">
                <label class="inline-block mb-2">Username</label>
                <br>
                {{ form.username }}
            </div>

            <div class="mb-3">
                <label class="inline-block mb-2">Password</label>
                <br>
                {{ form.password }}
            </div>


            <!-- Show form errors if there are errors with registration -->
            {% if form.errors or form.non_field_errors %}
                <div class="mb-3 pg-6 bg-red-100 rounded-xl">
                    {% for field in form %}
                        {{ field.errors }}
                    {% endfor %}
                </div>
            {% endif %}
            <button class="px-6 h-12 uppercase font-semibold tracking-wider border-2 border-black bg-teal-400 text-black" type="submit">Submit</button>
        </form>
    </div>
{% endblock %}