{% extends 'core/base.html' %}

{% block title %}{{ item.name }}{% endblock %}

{% block content %} 

<div class="grid grid-cols-5 gap-6">
    <div class="cols-span-3">
        <img src="{{ item.image.url }}" class="rounded-xl">
    </div>

    <div class="col-span-2 p-6 bg-gray-100 rounded-xl">
        <h1 class="mb-6 text-3xl">{{ item.name }}</h1>
        <p class="text-gray-500"><strong>Selling for:</strong> {{ item.price }}</p>
        <p class="text-gray-500"><strong>Seller location:</strong> {{ item.location }}</p>
        <!-- Display if available or not -->
        <p class="text-gray-500"><strong>Status:</strong> {% if item.is_sold == False %} Available {% else %} Sold {% endif %}</p>
    

        {% if item.description %}
        <p class="text-gray-700">
            <strong class="text-gray-500">Description:</strong>
            <br>
            {{ item.description }}
        </p>
        {% endif %}

        {% if request.user == item.created_by %}
            <div class="mt-6 p-6 bg-white rounded-xl md:flex">
                <p> This is your item!! </p>
                <a href="{% url 'item:edit' item.id %}" class="inline-block mt-6 px-6 py-3 text-lg font-semobold bg-teal-500 text-white rounded-xl">Edit</a>
                <a href="{% url 'item:delete' item.id %}" class="inline-block mt-6 px-6 py-3 text-lg font-semobold bg-red-500 text-white rounded-xl">Delete</a>
            </div>
        {% else %}
            <a href="{% url 'conversation:new' item.id %}" class="inline-block mt-6 px-6 py-3 text-lg font-semibold tracking-wider border-2 border-black bg-lime-200 text-black  hover:bg-lime-400">Contact seller</a>
        {% endif %}
        <br><br>
        <p class="text-gray-400"><strong>Added by:</strong> {{ item.created_by.username }}</p>
    </div>
</div>

<div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
    <h2 class="mb-12 text-2xl text-center">Related items</h2>

    <div class="grid grid-cols-3 gap-3">
        {% for item in related_items %}
        <div>
            <a href="{% url 'item:detail' item.id %}">
                <div>
                    <img src="{{item.image.url}}" class="rounded-t-xl">
                </div>

                <div class="p-6 bg-white rounded-b-xl">
                    <h2 class ="text-2xl">{{item.name}}</h2>
                    <p class="text-gray-500">Price: {{item.price}}</p>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}